<h1><%= title %></h1>

<section id="feed-posts">
  <h3>Posts</h3>

  <!--* Restricting the forms visibility to only signed in users -->
  <% if(locals.user) { %>
  <form action="/posts/create" id="new-post-form" method="POST">
    <textarea
      name="content"
      cols="30"
      rows="3"
      placeholder="Type Here..."
    ></textarea>

    <input class="btn" type="submit" value="Post" />
  </form>
  <% } %>

  <!-- using only "user" will give an error as user will not be defined if user
  is not signed in, but locals is an object which is always present so if no
  user is signed in "locals.user" will return false -->
</section>

<div id="posts-list-container">
  <ul>
    <% for (post of posts) { %>
    <li>
      <p>
        <%= post.content %>
        <br />
        <%= post.user.name %>
      </p>
    </li>
    <% } %>
  </ul>
</div>
