#home-container {
  display: flex;

  #new-post-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 150px;

    #textArea {
      padding: 0;
      width: 100%;
      height: 100%;
      resize: none;
      outline: none;
      padding: 2px;
    }

    #postBtn {
      width: 100px;
      margin-left: 0px;
    }
  }

  #feed-posts {
    width: 70%;
    padding: 10px;
  }

  #user-friends {
    width: 30%;
    padding: 10px;
    border-left: 1px solid lightgrey;
    height: 100%;
  }

  #commmentInput {
    outline: none;
    height: 28px;
  }
}
